In [16]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(database="muder_data", user = "postgres", password = "codingastroqueen17", host = "localhost", port = "5433")

print("Opened database successfully")

Opened database successfully

In [19]:
data = pd.read_sql('select * from "Combined_table"', conn)
data

,State,CNTYFIPS,Solved,Year,Month,Incident,Homicide,VicAge,VicRace,OffAge,OffSex,Weapon,Relationship,VicCount,OffCount,state,latitude,longitude,name
0,Alaska,"Anchorage, AK",Yes,2016,January,1,Murder and non-negligent manslaughter,40,White,15,Male,"Firearm, type not stated",Sister,1,0,AK,63.588753,-154.493062,Alaska
1,Alaska,"Anchorage, AK",Yes,2016,January,1,Murder and non-negligent manslaughter,18,White,15,Male,"Firearm, type not stated",Sister,1,0,AK,63.588753,-154.493062,Alaska
2,Alaska,"Anchorage, AK",Yes,2016,January,2,Murder and non-negligent manslaughter,49,American Indian or Alaskan Native,34,Male,"Firearm, type not stated",Stranger,0,1,AK,63.588753,-154.493062,Alaska
3,Alaska,"Anchorage, AK",Yes,2016,January,3,Murder and non-negligent manslaughter,32,American Indian or Alaskan Native,33,Male,Other or type unknown,Wife,0,0,AK,63.588753,-154.493062,Alaska
4,Alaska,"Anchorage, AK",No,2016,January,4,Murder and non-negligent manslaughter,20,Black,999,Unknown,"Firearm, type not stated",Relationship not determined,1,0,AK,63.588753,-154.493062,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69523,Wyoming,"Uinta, WY",No,2016,September,2,Murder and non-negligent manslaughter,52,White,999,Unknown,Knife or cutting instrument,Relationship not determined,0,0,WY,43.075968,-107.290284,Wyoming
69524,Wyoming,"Fremont, WY",Yes,2017,July,1,Murder and non-negligent manslaughter,43,American Indian or Alaskan Native,38,Male,Knife or cutting instrument,Friend,0,0,WY,43.075968,-107.290284,Wyoming
69525,Wyoming,"Fremont, WY",Yes,2017,November,1,Murder and non-negligent manslaughter,36,American Indian or Alaskan Native,39,Male,"Blunt object - hammer, club, etc",Acquaintance,0,0,WY,43.075968,-107.290284,Wyoming
69526,Wyoming,"Fremont, WY",No,2018,August,1,Murder and non-negligent manslaughter,29,American Indian or Alaskan Native,999,Unknown,Shotgun,Other - known to victim,0,0,WY,43.075968,-107.290284,Wyoming
69527,Wyoming,"Fremont, WY",Yes,2019,August,1,Murder and non-negligent manslaughter,29,American Indian or Alaskan Native,30,Male,"Firearm, type not stated",Acquaintance,0,0,WY,43.075968,-107.290284,Wyoming